@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.tag {
  padding: $whitespace-2 $whitespace-4;
  font-size: $font-size-2;
  font-weight: $font-weight-semi-bold;
  color: $color-neutral-1;
  background-color: $color-neutral-10;
}
