@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.skills {
  @include flex-shorthand(column, nowrap, $whitespace-9);

  padding: $whitespace-11 0;
  cursor: default;

  &__heading {
    grid-row: span 2;
    font-size: $font-size-6;
    color: $color-primary-10;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  @include media-up-shorthand(mobile-l-3) {
    @include grid-shorthand(
      repeat(2, max-content),
      max-content 1fr,
      0,
      $whitespace-10
    );

    justify-content: space-between;
  }
}
