/* stylelint-disable scale-unlimited/declaration-strict-value */
/* stylelint-disable plugin/selector-bem-pattern */

/** @define header **/

@use "../styles/settings" as *;
@use "../styles/tools" as *;

.page {
  max-inline-size: 98rem;
  padding: 0 $whitespace-6;
  margin: 0 auto;
}

.header {
  @include flex-shorthand(row, nowrap, null, center, space-between);

  padding: $whitespace-6 0;

  &__logo {
    @include flex-shorthand(row, nowrap, $whitespace-3, center);
  }

  &__icon {
    @include size-shorthand(3.5rem, 3.5rem);

    color: $color-neutral-9;
  }

  &__title {
    font-size: $font-size-7;
    color: $color-neutral-9;
    cursor: default;
  }
}

.hero {
  @include flex-shorthand(row, nowrap, $whitespace-8, center, space-between);

  padding: $whitespace-11 0;
  cursor: default;

  &__name {
    font-weight: $font-weight-bold;
    color: $color-primary-10;
  }

  &__underlined {
    padding-block-end: $whitespace-2;
    font-weight: $font-weight-regular;
    border-block-end: 0.3rem solid $color-primary-10;
  }

  &__heading {
    font-size: $font-size-8;
    line-height: 1.3;
    color: $color-neutral-9;
    letter-spacing: -0.05rem;
  }

  &__greeting {
    font-size: $font-size-7;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-9;
  }

  &__description {
    font-size: $font-size-6;
    line-height: 1.7;
    color: $color-neutral-8;
  }

  &__description-container {
    @include flex-shorthand(column, nowrap, $whitespace-8, null, center);
  }

  &__left-container {
    @include flex-shorthand(column, nowrap, $whitespace-10, null, center);

    flex: 1;
    max-inline-size: 50rem;
  }

  &__cta-container {
    @include flex-shorthand(column, nowrap, $whitespace-5, null, center);
  }

  &__cta {
    @include flex-shorthand(row, wrap, $whitespace-4, center);

    padding: 0;
    font-size: $font-size-4;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-9;
    text-decoration: none;
    background-color: transparent;
    border: 0;
  }

  &__cta-span {
    @include flex-shorthand(row, nowrap, $whitespace-4, center);

    align-self: flex-start;
  }

  &__cta-icon {
    @include size-shorthand(2rem, 2rem);
  }

  &__position {
    box-shadow: inset 0 -1.6rem 0 0 $color-primary-3;
  }

  &__image-wrapper {
    display: none;
  }

  &__image {
    @include size-shorthand(100%, 100%);

    object-fit: cover;
    object-position: center;
  }

  @include media-up-shorthand(tablet) {
    &__image-wrapper {
      @include flex-shorthand;

      block-size: 41rem;
    }
  }
}
