// TODO: Add breakpoints

$breakpoints: (
  mobile-s: 20rem,
  mobile-m: 23.438rem,
  mobile-m-1: 24rem,
  mobile-l: 26.563rem,
  mobile-l-1: 31.5rem,
  mobile-l-2: 40.313rem,
  mobile-l-3: 41.813rem,
  mobile-l-4: 47.5rem,
  mobile-l-5: 47.813rem,
  tablet: 48rem,
  tablet-1: 59.063rem,
  tablet-2: 60rem,
  laptop: 64rem,
);
