@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.skill-item {
  @include flex-shorthand(column, nowrap, $whitespace-6, center, center);

  &__icon {
    @include size-shorthand(5rem, 5rem);

    color: $color-neutral-7;
    transition: all 0.15s;

    @media (hover: hover) {
      &:hover {
        color: $color-primary-10;
        transform: scale(1.5);
      }
    }
  }

  &__label {
    font-size: $font-size-4;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-9;
  }
}
